.wrapper {
    width: 1008px;
    height: 635px;
    background: #FEFEFF;
    border-radius: 8px;
    display: flex;
}

.showPacksCards {
    width: 243px;
    height: 636px;
    background: #ECECF9;
    border-radius: 8px 0px 0px 8px;
}

.packs {
    width: 765px;
    height: 635px;
    background: #FEFEFF;
    border-radius: 8px;
    padding: 25px 40px 25px 40px;
}

.packs h1 {
    width: 104px;
    height: 33px;
    font-size: 22px;
    color: #2D2E46;
    margin-bottom: 15px;
}

.input {
    width: 461px;
    height: 36px;
    opacity: 50%;
    box-sizing: border-box;
    background: #ECECF9;
    border: 1px solid #635D80;
    border-radius: 2px;
    margin-bottom: 24px;
}

.button {
    width: 184px;
    height: 36px;
    color: white;
    background: #21268F;
    border-radius: 30px;
    margin-left: 24px;
}

.cards {
    width: 669px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ECECF9;
}

.cards th {
    width: 100px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 669px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card td {
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card button {
    width: 48px;
    height: 24px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    margin-left: 1px;
}


