
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 413px;
    height: 490px;
    background: #F9F9FE;
    border-radius: 8px;
}

.form h1{
    margin: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
}

.button {
    color: white;
    width: 150px;
    height: 25px;
    background: #21268F;
    border-radius: 30px;
    margin: 50px;
}
.gap{
    height: 400px;
    margin: 80px
}

